<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel</title>
</head>
<body>
<div id="panel">
    <canvas id="stage-canvas"></canvas>
    <router-view></router-view>
</div>
<script src="/js/socket.io-1.4.5.min.js"></script>
<script src="/panel/index.js">
</script>
</body>
</html>