<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stage Panel</title>
</head>
<body>
<script src="/js/socket.io-1.4.5.min.js"></script>
<script src="/panel/index.js"></script>
</body>
</html>