<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>元气篮球直播</title>
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->

    <style>
        /* fallback */
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: local('Material Icons'), local('MaterialIcons-Regular'), url(/font/material-design-icons/Material-Design-Icons.woff2) format('woff2');
        }

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
</head>
<body>
<div id="app">
    <router-view></router-view>
</div>
<script type="text/javascript">
    var host = '<%= host %>'
    var wsPort = '<%= wsPort %>'
    console.log('host', host, 'wsPort', wsPort);
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/createjs/createjs.min.js"></script>
<script src="/js/createjs/easeljs.min.js"></script>
<script src="/js/createjs/tweenjs.min.js"></script>
<script src="/js/socket.io-1.4.5.min.js"></script>
<script src="/mobile/index.js"></script>
</body>
</html>
