<div class="card-panel grey lighten-3" v-if="op" style="position:absolute;width:950px;left: 100px;top: 200px">
    <div class="row">
        <a class="waves-effect waves-light btn" @click="onStartGame">start game</a>
        <a class="waves-effect waves-light btn" @click="onResetGame">reset game</a>
    </div>
    <div class="row">
        <a class="waves-effect waves-light btn" @click="onRankIn">rank in</a>
        <a class="waves-effect waves-light btn" @click="onRankOut">rank out</a>
    </div>
    <div class="row">
        <a class="waves-effect waves-light btn" @click="onActivityIn">Activity in</a>
        <a class="waves-effect waves-light btn" @click="onActivityOut">activity out</a>
    </div>
</div>