<style>
    #act-panel {
        position: absolute;
        width: 1400px;
        left: 20px;
        opacity: .8;
        top: 20px;

    }
</style>
<div id="act-panel" class="card-panel grey lighten-3" v-if="op">
    <div class="row" style="width: 100%;display: inline-flex;">
        赛事：
        <select class="browser-default" v-model="activitySelected" @change="onActivitySelected"
                style="width: 150px">
            <option v-for="option in activityOptionArr" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>

        轮次：
        <select class="browser-default" v-model="roundSelected" @change="onRoundSelected"
                style="width: 150px">
            <option v-for="option in roundOptionArr" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>

        场次：
        <select class="browser-default" v-model="gameSelected" @change="onGameSelected"
                style="width: 150px">
            <option v-for="option in gameOptionArr" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
    </div>

    <div class="row">
        <a class="waves-effect waves-light btn" @click="onStartGame">start game</a>
        <a class="waves-effect waves-light btn" @click="onResetGame">reset game</a>
        <a class="waves-effect waves-light btn" @click="onPickExGamePlayer">pick ex game player</a>
        <a class="waves-effect waves-light btn" @click="onShowPickPlayer">show pick player</a>
        <a id="delDialogTrigger" class="waves-effect waves-light btn modal-trigger" @click="onDeleteGame">delete
            game</a>
        <div class="row">
            <div class="col" v-for="playerDoc in playerDocArr">
                <div class="col" style="width: 85px">
                    <img src="{{playerDoc.avatar}}" id="playerImg{{$index}}" style="width: 80px">
                    {{playerDoc.id}}<br>
                    {{playerDoc.name}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <a class="waves-effect waves-light btn" @click="onRankIn">rank in</a>
        <a class="waves-effect waves-light btn" @click="onRankNext">next page</a>
        <a class="waves-effect waves-light btn" @click="onRankOut">rank out</a>
    </div>

    <div class="row">
        <input id="cdText" v-model="cdText" style="width: 100px">
        <input id="cdSec" v-model="cdSec" style="width: 100px">
        <a class="waves-effect waves-light btn" @click="onCountDownIn">count down in</a>
        <a class="waves-effect waves-light btn" @click="onCountDownOut">count down out</a>
    </div>

    <div class="row">
        <a class="waves-effect waves-light btn" @click="onActivityIn">Activity in</a>
        <a class="waves-effect waves-light btn" @click="onActivityNextIn">next page</a>
        <a class="waves-effect waves-light btn" @click="onActivityOut">activity out</a>
        <a class="waves-effect waves-light btn" @click="onActivityComing">Game coming</a>
        ：：：：：
        <a class="waves-effect waves-light btn" @click="onActivityInExGameIn">Ex Game in</a>
    </div>

    <div class="row">
        <input id="notice" style="width: 100%" v-model="noticeText" placeholder="小喇叭广播" class="validate" length="99">
        <input placeholder="播放次数" id="noticeCount" v-model="noticeCount" style="width: 100px" Number>
        <a class="waves-effect waves-light btn" @click="onNoticeIn">发送 ctrl+enter</a>
        <a class="waves-effect waves-light btn" @click="onNoticeOut">fade out</a>
    </div>
</div>
<modaler id="delDialog" title="确定删除?" :is-open="isDeleteDialog" style="width: 30%;height: 20%">
    <div slot="body">
        game id:{{gameSelected}}
    </div>
    <div slot="footer">
        <a @click="onDeleteOk" class="modal-action waves-effect waves-green btn-flat">
            <i class="material-icons">done</i>
        </a>
        <a @click="onDeleteCancel" class="left modal-action waves-effect waves-green btn-flat">
            <i class="material-icons">close</i>
        </a>
    </div>
</modaler>
<div style="display: none">
    <img src="/img/panel/act/bg.png">
    <img src="/img/panel/act/vs.png">
    <img src="/img/panel/act/rankItem.png">
    <img src="/img/panel/act/countDownBg.png">
    <img src="/img/panel/act/rankItem.png">
    <img src="/img/panel/act/rankTitle.png">
    <img src="/img/panel/stage/scoreNum.png">
</div>