<style>
    #act-panel {
        position: absolute;
        width: 950px;
        left: 100px;
        opacity: .8;
        top: 50px;

    }
</style>
<div id="act-panel" class="card-panel grey lighten-3" v-if="op">
    <div class="row" style="width: 100%;display: inline-flex;">
        赛事：
        <select class="browser-default" v-model="activitySelected" @change="onActivitySelected"
                style="width: 150px">
            <option v-for="option in activityOptionArr" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>

        轮次：
        <select class="browser-default" v-model="roundSelected" @change="onRoundSelected"
                style="width: 150px">
            <option v-for="option in roundOptionArr" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>

        场次：
        <select class="browser-default" v-model="gameSelected" @change="onGameSelected"
                style="width: 150px">
            <option v-for="option in gameOptionArr" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
    </div>

    <div class="row">
        <a class="waves-effect waves-light btn" @click="onStartGame">start game</a>
        <a class="waves-effect waves-light btn" @click="onResetGame">reset game</a>
    </div>

    <div class="row">
        <a class="waves-effect waves-light btn" @click="onRankIn">rank in</a>
        <a class="waves-effect waves-light btn" @click="onRankNext">next page</a>
        <a class="waves-effect waves-light btn" @click="onRankOut">rank out</a>
    </div>

    <div class="row">
        <input id="cdText" v-model="cdText" style="width: 100px">
        <input id="cdSec" v-model="cdSec" style="width: 100px">
        <a class="waves-effect waves-light btn" @click="onCountDownIn">count down in</a>
        <a class="waves-effect waves-light btn" @click="onCountDownOut">count down out</a>
    </div>

    <div class="row">
        <a class="waves-effect waves-light btn" @click="onActivityIn">Activity in</a>
        <a class="waves-effect waves-light btn" @click="onActivityNextIn">next page</a>
        <a class="waves-effect waves-light btn" @click="onActivityInExGameIn">Ex Game in</a>
        <a class="waves-effect waves-light btn" @click="onActivityOut">activity out</a>
    </div>
</div>

<div style="display: none">
    <img src="/img/panel/act/bg.png">
    <img src="/img/panel/act/rankItem.png">
    <img src="/img/panel/act/countDownBg.png">
    <img src="/img/panel/act/rankItem.png">
    <img src="/img/panel/act/rankTitle.png">
    <img src="/img/panel/stage/scoreNum.png">
</div>