<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="name" v-model="name" type="text" class="validate" length="5">
                <label for="name">显示ID</label>
            </div>
            <div class="input-field col s6">
                <input id="real_name" v-model="realName" type="text" class="validate">
                <label for="real_name">真实姓名</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="phone" v-model="phone" type="text" class="validate" length="11">
                <label for="phone">手机</label>
            </div>
            <div class="input-field col s6">
                <input id="qq" v-model="qq" type="text" class="validate">
                <label for="qq">QQ</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="height" v-model="height" type="text" class="validate">
                <label for="height">身高(CM)</label>

            </div>
            <div class="input-field col s6">
                <input id="weight" v-model="weight" type="text" class="validate">
                <label for="weight">体重(KG)</label>
            </div>
        </div>
        <div class="row">
            <input name="style" v-model="style" value="1" class="with-gap blue" type="radio" id="style1"/>
            <label for="style1">风</label>
            <input name="style" v-model="style" value="2" class="with-gap green" type="radio" id="style2"/>
            <label for="style2">林</label>
            <input name="style" v-model="style" value="3" class="with-gap red" type="radio" id="style3"/>
            <label for="style3">火</label>
            <input name="style" v-model="style" value="4" class="with-gap yellow" type="radio" id="style4"/>
            <label for="style4">山</label>
        </div>
        <!--<div class="row">-->
        <!--<div class="input-field col s12">-->
        <!--<input id="password" type="password" class="validate">-->
        <!--<label for="password">Password</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="input-field col s12">-->
        <!--<input id="email" type="email" class="validate">-->
        <!--<label for="email">Email</label>-->
        <!--</div>-->
        <!--</div>-->
    </form>
</div>
        