<div class="card-panel grey lighten-3" v-if="op" style="position:absolute;width:950px;left: 100px;top: 200px">
    <div class="row">
        <div class="col" v-for="playerInfo in playerInfoArr">
            <div class="col" style="width: 85px">
                <img src="/img/panel/stage/blue.png" id="playerImg{{$index}}" style="width: 80px">
                <input id="player{{$index}}" type="text" @keyup.enter="onQueryPlayer($index)" style="width: 75px">
                <input id="playerNum{{$index}}" type="text" @keyup.enter="onUpdatePlayerNum($index)" style="width: 35px">
                <a class="modal-trigger waves-effect waves-light btn" style="width: 75px;height: 25px"
                   @click="onUpdatePlayer($index)">↓</a>
                <p>
                    <input name="mvp" type="radio" id="mvp{{$index}}" value="{{$index}}" v-model="mvpIdx"/>
                    <label for="mvp{{$index}}">mvp{{$index}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        game id:{{gameId}}
        <a class="modal-trigger waves-effect waves-light btn" @click="onStarting">starting line</a>
        <a class="modal-trigger waves-effect waves-light btn" @click="onToggleTimer">{{timerName}}</a>
        <a class="modal-trigger waves-effect waves-light btn" @click="onResetTimer">Reset</a>
    </div>
    <div class="row">
        <a class="modal-trigger waves-effect waves-light btn" @click="onAddLeftScore">Left++</a>
        <a class="modal-trigger waves-effect waves-light btn" @click="onMinLeftScore">Left--</a>
        <input type="checkbox" id="test5"/>
        <label for="test5">>>>>>>>不限制分数>>>>>>></label>
        <a class="modal-trigger waves-effect waves-light btn" @click="onMinRightScore">Right--</a>
        <a class="modal-trigger waves-effect waves-light btn" @click="onAddRightScore">Right++</a>
    </div>
    <div class="row">
        <a class="modal-trigger waves-effect waves-light btn" @click="onShowWin">Show Win</a>
        <a class="modal-trigger waves-effect waves-light btn" @click="onRefresh">Refresh</a>
    </div>
</div>