<div class="navbar-fixed" >
    <nav>
        <div class="nav-wrapper indigo">
            <ul class="left hide-on-med-and-down" style="display: block">
                <li :class="{active: active === ''}">
                    <a v-link="{name: 'home'}">Home</a>
                </li>
                <li :class="{active: active === 'player'}">
                    <a v-link="{name: 'player'}">球员管理</a>
                </li>
                <li :class="{active: active === 'activity'}">
                    <a v-link="{name: 'activity'}">赛程管理</a>
                </li>
                <li :class="{active: active === 'rank'}">
                    <a v-link="{name: 'rank'}">天梯排名</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li :class="{active: active === 'settings'}">
                    <a v-link="{name: 'settings'}">settings</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
